<h1>Setup SMS Notifications</h1>
<div class = "new-form">
<%= render 'form' %>
</div>
<div class="centered">
<p>Already setup? You can <%= link_to "Check activity", logs_path  %> or <%= link_to "Manage Existing Notifiers", notifiers_path  %></p>

<%= link_to(image_tag("switch_logo.png"), "http://www.switchdevices.com", :class=> "logo") %>
</div>