<h1>Setup SMS Notifications</h1>
<div class = "new-form">
<%= render 'form' %>
</div>
<p class="centered">Already setup? You can <%= link_to "Check activity", logs_path  %> or <%= link_to "Manage Existing Notifiers", notifiers_path  %></p>
